body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('http://localhost/Project1/Project/Views/moviedownload.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

a {
    font-size: 70px;
    font-weight: bold;
    color: #F5BCBA;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

a:hover {
    color: #ff6666;
}

.login {
    padding: 40px;
    margin-top: 50px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
    box-shadow: 0px 0px 20px #000;
    text-align: left;
}

.login b {
    display: block;
    margin-top: 20px;
    font-size: 18px;
}

.login input[type="text"],
.login input[type="number"],
.login input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.login input[type="text"]:focus,
.login input[type="number"]:focus,
.login input[type="password"]:focus {
    border: 2px solid #45CE30;
    background-color: #222;
    color: white;
}

.login input[type="submit"] {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    background-color: #45CE30;
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
#backBtn {
    width: 100%;
    padding: 12px;
    background-color: #FF4848;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s;
}

#backBtn:hover {
    background-color: #e03e3e;
}


.login input[type="submit"]:hover {
    background-color: #2ecc71;
    color: white;
}

