body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../Views/favourite.jpg"); 
    background-size: cover;       
    background-position: center;  
    background-attachment: fixed; 
    height: 100vh;
    color: white;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}


.login, .container {
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    width: 350px;
    margin: 50px auto;
    text-align: center;
}

.login input, .login select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login input[type="submit"] {
    background: #ff3b3b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login input[type="submit"]:hover {
    background: #ff0000;
}
